body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1412px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:389px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3980 {
  position:absolute;
  left:220px;
  top:321px;
  width:736px;
  height:389px;
}
#u3981 {
  position:absolute;
  left:2px;
  top:186px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:736px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3982 {
  position:absolute;
  left:220px;
  top:100px;
  width:736px;
  height:213px;
}
#u3983 {
  position:absolute;
  left:2px;
  top:98px;
  width:732px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:82px;
  background:inherit;
  background-color:rgba(47, 47, 55, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3985 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:82px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:33px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3987 {
  position:absolute;
  left:163px;
  top:33px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:41px;
}
#u3989 {
  position:absolute;
  left:90px;
  top:24px;
  width:63px;
  height:40px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u3991 {
  position:absolute;
  left:346px;
  top:31px;
  width:500px;
  height:30px;
}
#u3991_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:506px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:505px;
  height:35px;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3994 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3995 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3996 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3997 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3998 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3999 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4000 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4001 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4002 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u4003 {
  position:absolute;
  left:1019px;
  top:35px;
  width:55px;
  height:32px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:1012px;
  top:64px;
  width:69px;
  height:18px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:1px;
  width:65px;
  word-wrap:break-word;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4007 {
  position:absolute;
  left:374px;
  top:380px;
  width:348px;
  height:43px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:14px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4010 {
  position:absolute;
  left:654px;
  top:377px;
  width:215px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4012 {
  position:absolute;
  left:654px;
  top:351px;
  width:236px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4013 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4014 {
  position:absolute;
  left:234px;
  top:349px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:16px;
}
#u4016 {
  position:absolute;
  left:234px;
  top:125px;
  width:426px;
  height:16px;
  font-size:14px;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  white-space:nowrap;
}
#u4018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4018 {
  position:absolute;
  left:435px;
  top:201px;
  width:181px;
  height:24px;
}
#u4019 {
  position:absolute;
  left:2px;
  top:4px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4022 {
  position:absolute;
  left:536px;
  top:208px;
  width:236px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4024 {
  position:absolute;
  left:536px;
  top:234px;
  width:141px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u4026 {
  position:absolute;
  left:234px;
  top:165px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u4028 {
  position:absolute;
  left:234px;
  top:208px;
  width:56px;
  height:16px;
  font-size:14px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4030 {
  position:absolute;
  left:536px;
  top:266px;
  width:59px;
  height:24px;
}
#u4031 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u4033 {
  position:absolute;
  left:384px;
  top:513px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:137px;
}
#u4035 {
  position:absolute;
  left:384px;
  top:542px;
  width:239px;
  height:137px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:60px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4037 {
  position:absolute;
  left:470px;
  top:527px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4039 {
  position:absolute;
  left:731px;
  top:527px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4040 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:137px;
}
#u4041 {
  position:absolute;
  left:632px;
  top:542px;
  width:239px;
  height:137px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:60px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  position:absolute;
  left:654px;
  top:460px;
  width:59px;
  height:24px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF0000;
}
#u4046 {
  position:absolute;
  left:991px;
  top:119px;
  width:421px;
  height:365px;
  color:#FF0000;
}
#u4047 {
  position:absolute;
  left:10px;
  top:10px;
  width:401px;
  word-wrap:break-word;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4048 {
  position:absolute;
  left:1001px;
  top:189px;
  width:406px;
  height:210px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4049 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4050 {
  position:absolute;
  left:1001px;
  top:161px;
  width:411px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  word-wrap:break-word;
}
#u4052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:83px;
}
#u4052 {
  position:absolute;
  left:384px;
  top:208px;
  width:126px;
  height:82px;
}
#u4053 {
  position:absolute;
  left:2px;
  top:33px;
  width:122px;
  word-wrap:break-word;
}
#u4054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:136px;
}
#u4054 {
  position:absolute;
  left:384px;
  top:349px;
  width:240px;
  height:135px;
}
#u4055 {
  position:absolute;
  left:2px;
  top:60px;
  width:236px;
  word-wrap:break-word;
}
#u4056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4056 {
  position:absolute;
  left:384px;
  top:165px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4058 {
  position:absolute;
  left:621px;
  top:454px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u4058_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:553px;
  height:8px;
}
#u4058_seg1 {
  position:absolute;
  left:545px;
  top:-85px;
  width:8px;
  height:89px;
}
#u4058_seg2 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4058_seg3 {
  position:absolute;
  left:540px;
  top:-91px;
  width:18px;
  height:19px;
}
#u4059 {
  position:absolute;
  left:267px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060 {
  position:absolute;
  left:623px;
  top:173px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u4060_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:241px;
  height:8px;
}
#u4060_seg1 {
  position:absolute;
  left:233px;
  top:-4px;
  width:8px;
  height:9px;
}
#u4060_seg2 {
  position:absolute;
  left:233px;
  top:-3px;
  width:132px;
  height:8px;
}
#u4060_seg3 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4060_seg4 {
  position:absolute;
  left:352px;
  top:-8px;
  width:19px;
  height:18px;
}
#u4061 {
  position:absolute;
  left:133px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4062 {
  position:absolute;
  left:536px;
  top:161px;
  width:59px;
  height:24px;
}
#u4063 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u4065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4065 {
  position:absolute;
  left:88px;
  top:107px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4067 {
  position:absolute;
  left:88px;
  top:136px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4069 {
  position:absolute;
  left:88px;
  top:165px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4071 {
  position:absolute;
  left:104px;
  top:194px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4073 {
  position:absolute;
  left:104px;
  top:223px;
  width:97px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4075 {
  position:absolute;
  left:68px;
  top:107px;
  width:10px;
  height:18px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
