body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:541px;
}
#u1863 {
  position:absolute;
  left:0px;
  top:0px;
  width:1057px;
  height:541px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:262px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
