body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:321px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u114 {
  position:absolute;
  left:934px;
  top:18px;
  width:341px;
  height:321px;
}
#u115 {
  position:absolute;
  left:10px;
  top:10px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:886px;
  height:517px;
}
#u117 {
  position:absolute;
  left:43px;
  top:1070px;
  width:886px;
  height:517px;
}
#u118 {
  position:absolute;
  left:2px;
  top:250px;
  width:882px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:29px;
}
#u119 {
  position:absolute;
  left:282px;
  top:1382px;
  width:285px;
  height:29px;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:884px;
  height:522px;
}
#u121 {
  position:absolute;
  left:40px;
  top:18px;
  width:884px;
  height:522px;
}
#u122 {
  position:absolute;
  left:2px;
  top:253px;
  width:880px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u123 {
  position:absolute;
  left:941px;
  top:195px;
  width:300px;
  height:144px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:519px;
}
#u125 {
  position:absolute;
  left:40px;
  top:545px;
  width:888px;
  height:519px;
}
#u126 {
  position:absolute;
  left:2px;
  top:252px;
  width:884px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:889px;
  height:385px;
}
#u127 {
  position:absolute;
  left:43px;
  top:1597px;
  width:889px;
  height:385px;
}
#u128 {
  position:absolute;
  left:2px;
  top:184px;
  width:885px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u129 {
  position:absolute;
  left:10px;
  top:18px;
  width:30px;
  height:40px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u131 {
  position:absolute;
  left:10px;
  top:545px;
  width:30px;
  height:40px;
}
#u132 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u133 {
  position:absolute;
  left:3px;
  top:1070px;
  width:30px;
  height:40px;
}
#u134 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u135 {
  position:absolute;
  left:3px;
  top:1597px;
  width:30px;
  height:40px;
}
#u136 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
}
#u137 {
  position:absolute;
  left:69px;
  top:36px;
  width:82px;
  height:32px;
}
#u138 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u139 {
  position:absolute;
  left:69px;
  top:46px;
  width:197px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:144px;
}
#u141 {
  position:absolute;
  left:941px;
  top:29px;
  width:312px;
  height:144px;
  color:#FF0000;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:950px;
  top:54px;
  width:0px;
  height:0px;
  font-size:28px;
}
#u143_seg0 {
  position:absolute;
  left:-25px;
  top:-4px;
  width:25px;
  height:8px;
}
#u143_seg1 {
  position:absolute;
  left:-25px;
  top:-46px;
  width:8px;
  height:50px;
}
#u143_seg2 {
  position:absolute;
  left:-657px;
  top:-46px;
  width:640px;
  height:8px;
}
#u143_seg3 {
  position:absolute;
  left:-657px;
  top:-46px;
  width:8px;
  height:50px;
}
#u143_seg4 {
  position:absolute;
  left:-684px;
  top:-4px;
  width:35px;
  height:8px;
}
#u143_seg5 {
  position:absolute;
  left:-15px;
  top:-10px;
  width:20px;
  height:20px;
}
#u143_seg6 {
  position:absolute;
  left:-691px;
  top:-10px;
  width:21px;
  height:20px;
}
#u144 {
  position:absolute;
  left:-392px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u145 {
  position:absolute;
  left:685px;
  top:46px;
  width:225px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:48px;
}
#u147 {
  position:absolute;
  left:939px;
  top:1363px;
  width:452px;
  height:48px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:113px;
}
#u149 {
  position:absolute;
  left:567px;
  top:1303px;
  width:223px;
  height:113px;
}
#u150 {
  position:absolute;
  left:2px;
  top:48px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:128px;
}
#u151 {
  position:absolute;
  left:582px;
  top:1332px;
  width:214px;
  height:128px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
