body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1100px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:82px;
  background:inherit;
  background-color:rgba(47, 47, 55, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:82px;
}
#u44 {
  position:absolute;
  left:2px;
  top:33px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u45 {
  position:absolute;
  left:163px;
  top:33px;
  width:181px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:41px;
}
#u47 {
  position:absolute;
  left:90px;
  top:24px;
  width:63px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:59px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:381px;
  top:29px;
  width:100px;
  height:30px;
}
#u49_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u53 {
  position:absolute;
  left:1019px;
  top:35px;
  width:55px;
  height:32px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:51px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:1012px;
  top:64px;
  width:69px;
  height:18px;
}
#u56 {
  position:absolute;
  left:2px;
  top:1px;
  width:65px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:78px;
}
#u57 {
  position:absolute;
  left:29px;
  top:263px;
  width:941px;
  height:78px;
}
#u58 {
  position:absolute;
  left:2px;
  top:31px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u59 {
  position:absolute;
  left:395px;
  top:103px;
  width:439px;
  height:150px;
}
#u60 {
  position:absolute;
  left:10px;
  top:10px;
  width:419px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:375px;
  top:50px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u61_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:132px;
}
#u61_seg1 {
  position:absolute;
  left:-4px;
  top:124px;
  width:24px;
  height:8px;
}
#u61_seg2 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u61_seg3 {
  position:absolute;
  left:7px;
  top:119px;
  width:19px;
  height:18px;
}
#u62 {
  position:absolute;
  left:-50px;
  top:66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u63 {
  position:absolute;
  left:395px;
  top:378px;
  width:439px;
  height:117px;
}
#u64 {
  position:absolute;
  left:10px;
  top:10px;
  width:419px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:375px;
  top:325px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u65_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:116px;
}
#u65_seg1 {
  position:absolute;
  left:-4px;
  top:108px;
  width:24px;
  height:8px;
}
#u65_seg2 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u65_seg3 {
  position:absolute;
  left:7px;
  top:103px;
  width:19px;
  height:18px;
}
#u66 {
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
